*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif; 
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}

section#sidebar{
    background-color: red;
    width:20%;
    height:100%;
    position: fixed;
}

section#main-content{
    width:80%;
    float:right;
    height: 100%;
}

.sidebar-brand{
    padding: 40px 50px;
}

.sidebar-menu{

    color: #fff;
    margin-top:50px
}


.sidebar-menu ul li a{

    display: block;
    padding: 10px 40px;
}

.sidebar-menu ul li:hover{
    background-color: blue;
}

.sidebar-menu ul li{
    transition: all 0.6s ease;
}

.sidebar-menu ul li span{
    padding-left: 10px;
}
.clear{
    clear: both;
}

.main-header{
    position: fixed;
    width: 100%;
    box-shadow: 10px 10px 10px #bbb;
    padding: 10px;

 }

.header-left{
    width:33%;
    float: left;
}

.header-left img{
    width: 13%;
    float: left;
    padding-left:10px ;
}


input.search-bar{
    width: 50%;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    border: 2px solid #bbb;
    transition: width 1s ease;
}

input:focus {
    width: 70%;
    color: #797f86;
    border-color: pink;
    }

input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: blue;
}

.fa.fa-search{
    background-color: pink;
    width: 39px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom-right-radius: 45px 45px ; 
    border-top-right-radius: 45px 45px;
    margin-left:-35px;
}