
*{
    margin: 0px;
    padding:0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

section#side-bar{
    background-color: #fd5a5e;
    background: linear-gradient(rgba(222,122,11,0.7),rgba(111,222,19,0.7)),url("../admin_dashboard/images/bullet-train.jpeg");
    width: 20%;
    position: fixed;
    height: 100%;
}

section#main-content{
    width:80%;
    float: right;
    height: 100%;
}


.side-bar-brand{
    padding: 40px 50px;
    margin-bottom: 100px;
}


.side-bar-menu ul li:hover{
    background-color: green;

}

.side-bar-menu ul li{
    transition: all 0.8s ease;
}


.side-bar-menu ul li a{
    display: block;
    padding: 10px 50px;
    }

.main-content-header{
    box-shadow: 10px 10px 10px #bbb;
    position: fixed;
    width: 100%;
    padding:10px
}

.header-left{
    float: left;
    width: 33%;
}

.header-left img{
    float: left;
    width: 13%;
    padding-left: 10px;
}

input{
    padding: 10px;
    border-radius: 10px;
    width:50%
}

input:focus{
    width:80%;
    transition: all 1s ease;
    outline: none;
    border: 2px solid #fd5a5e;
}

.container{
    padding-left: 10px;
    padding-right: 10px;
}

.card{
    background-color: #fd5a5e;;
    background: linear-gradient(45deg,#FF5252 0%,#f48fb1 100%);
    float: left;
    width: 21%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 25px;
    color: #fff;
}

.main-content-info{
    margin-top: 150px;
}

.clear{
    clear: both;
}

i.fa.fa-search{
    background-color: #FF5252 ;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -35px;


}

.cus-num {
    position: relative;    
    }

.cus-h:after {
        content: "\f0c0";
        font-family: "FONTAWESOME";
        right:0;
        position: absolute;   
    }

    .cus-inc:after {
        content: "\f0c0";
        font-family: "FONTAWESOME";
        right:0;
        position: absolute;   
    }

    .cus-prj:after {
        content: "\f0c0";
        font-family: "FONTAWESOME";
        right:0;
        position: absolute;   
    }

    .cus-odr:after {
        content: "\f0c0";
        font-family: "FONTAWESOME";
        right:0;
        position: absolute;   
    }

    .content-pro{
        margin: 6% 2% 0 2%;
    }

    .pro-table{
        width: 65%;
        box-shadow: 10px 10px 20px #bbb;
        float: left;
        padding: 15px;
        background-color: #fff;

    }

    .cus-table{
        width: 30%;
        box-shadow: 10px 10px 20px #bbb;
        float: right;
        padding: 15px;
    }

    table th{
        text-align: start;
    }

    table td{
        padding: 10px 0px;
    }

    table td img{
        width: 13%;
    }

    .rev-progress{
        width: 8px;
        height: 8px;
        background-color: green;

        border-radius: 8px;
        display: inline-block;
        margin-right: 10px;
    }


    .rev-completed{
        
        width: 8px;
        height: 8px;
        background-color: black;
        border-radius: 8px;
        display: inline-block;
        margin-right: 10px;
    }

    .rev-pending{

        width: 8px;
        height: 8px;
        background-color: red;
        border-radius: 8px;
        display: inline-block;
        margin-right: 10px;
        
    }

    .rec-pro{
        margin-bottom: 50px;
    }

    .cus-pro{

        margin-bottom: 50px;
    }

.rec-h{
float: left;
}

.rec-btn {
    float: right;
    margin-right:15px;
}

.rec-btn button{

    border-radius: 10px;
    width: 70px;
    cursor: pointer;
    height: 40px;
    color: #fff;
    background-color:  #FF5252;
    border:none
}

.td-img img{
    width: 50px;
}

.td-cnt i{
    padding-right: 8px;
}


/*
    
<head>
    <title>Sample Dashboard written perfectly</title>
    <!--adding view port-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- refer css-->
    <link type="text/css" rel="stylesheet" href="./style.css" />
    <!-- refer font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- refer robot for <p> tags and Raleway for h1 to h6 headings-->
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,500&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">
</head>

*/